.feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.feedback__title, .feedback__statistics-title {
    margin-bottom: 20px;
}

.feedback__buttons-list {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.feedback__buttons-button {
    width: 64px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #d9d9d9;
    transition: background-color .3s linear, color .3s linear;
}

.feedback__buttons-button:hover {
    background-color: #51a375;
    color: #fff;
}

.feedback__statistics-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feedback__statistics-item {
    font-size: 18px;
}